/* Footer estilos generales */
.footer {
  width: 100%;
  background-color: #343a40;
  /* Color oscuro */
  color: #ffffff;
  /* Texto blanco */

}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-links,
.footer-social-icons {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social-icons li {
  margin-bottom: 0.5rem;
}

.footer-links a,
.footer-social-icons a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social-icons a:hover {
  color: #f8c146;
  /* Color destacado */
}

.footer-social-icons i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.footer-bottom {
  background-color: #495057;
  /* Color ligeramente más claro para pie de página */
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .footer .row>div {
    margin-bottom: 1rem;
    text-align: center;
  }
}