<mat-sidenav-container fullscreen>

  <mat-sidenav class="sidenav" #sidenav [ngStyle]="{ width: '230px' }">
    <mat-toolbar class="menu">
      <span>Menu</span>
      <hr>
      <span class="spacer"></span>
      <button class="buton-icon" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item id="sidebarItems" *ngFor="let item of sidebarItems"
        (click)="item.action ? item.action() : navigateTo(item.url)" [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon class="icon-list" matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon id="menu">menu</mat-icon>
    </button>

    <div class="container-title">
      <h2 class="anta-regular">INSINNO APP</h2>
    </div>

    <span class="spacer"></span>
    <div class="search">
      <input type="text" class="buscador">
    </div>


  </mat-toolbar>


  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
