<div class="d-flex mt-4 ">
  <div class="container profile-container bg-white rounded shadow p-4">
    <div class="row">
      <!-- Columna izquierda: Imagen e información del usuario -->
      <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center text-center mb-4 mb-lg-0">
        <img src="./assets/user.png" alt="Usuario" class="rounded-circle user-image mb-3" />
        <h3>{{ user?.username }}</h3>
        <p *ngIf="!user">Cargando información del usuario...</p>
      </div>

      <!-- Columna derecha: Cambiar contraseña y Eliminar cuenta -->
      <div class="col-lg-8 col-md-7 p-4">
        <!-- Cambiar Contraseña -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Gestiona tu cuenta</h5>
            <form (ngSubmit)="onSubmitPassword()">
              <div class="mb-3">
                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" required />
              </div>
              <button type="submit" class="btn btn-primary w-100">Actualizar Perfil</button>
            </form>
          </div>
        </div>

        <!-- Botones Actualizar y Eliminar -->
        <div class="row g-2 p-4">
          <div class="col-6 eliminar-cuenta">
            <p>¿Quieres eliminar tu cuenta?</p>
            <button (click)="onDeleteAccount()" class="btn btn-danger w-100">Darse de baja</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>