/* contenedor del perfil */
.profile-container {
  max-width: 900px;
  min-height: 70vh;
}

/* imagen de usuario */
.user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*título del nombre de usuario */
.text-center h3 {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Figtree", sans-serif;
  color: #1770a8;
}

p {
  font-family: "Figtree", sans-serif;
}

.form-label {
  font-family: "Figtree", sans-serif;
}

/*tarjetas */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/*título en las tarjetas */
.card-title {
  font-size: 1.35rem;
  font-weight: bold;
  font-family: "Figtree", sans-serif;
  color: #1770a8;
}

/* Botones */
.btn-primary {
  background-color: #1770a8;
  border-color: #1770a8;
  font-family: "Figtree", sans-serif;
}

.btn-danger {
  background-color: rgb(160, 13, 13);
  border-color: rgb(160, 13, 13);
  font-family: "Figtree", sans-serif;
}

/* Espaciado para dispositivos móviles */
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
  }

  .user-image {
    margin-bottom: 15px;
  }

  .eliminar-cuenta {
    text-align: center;
    width: 100%;
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}