h4{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 255);
  margin-top: 20%;
  padding: 10px;


  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
