.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  height: 100vh;
}
.form{
  padding: 22px;
}
.login-card {
  max-width: 400px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px;
}
.full-width {
  width: 100%;
  background-color: white;

}

/* enlace de registrarse */
.parrafo p a{
  color: rgb(255, 99, 19);;
}
/* titulo */
.chela-one-regular {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}
/* error */
#error{
  text-align: center;
  color: red;
  margin-top: 8px;
}

