<div class="container-fluid p-0">
  <!-- Mostrar la imagen grande solo si no estamos buscando -->
  <div *ngIf="!isSearching && concerts.length > 0" class="first-concert position-relative">
    <img [src]="concerts[0]?.images[0]?.url" class="img-fluid full-width-image" alt="{{ concerts[0]?.name }}">
    <div class="overlay d-flex flex-column justify-content-end align-items-start">
      <div class="content-wrapper p-4">
        <h1 class="display-4">
          {{ concerts[0]?.name }}
        </h1>
        <p class="lead">{{ concerts[0]?.classifications[0]?.genre?.name }}</p>
        <a class="btn btn-primary boton-entradas" [routerLink]="[concerts[0]?.id]">Entradas</a>
      </div>
    </div>
  </div>
</div>

<!-- Título que se cambiará dinámicamente dependiendo de la búsqueda -->
<div class="most-searched-title">
  <h3 class="anta-regular">{{ title }}</h3>
  <hr class="divider-line">
</div>

<!-- Mostrar los productos filtrados -->
<div class="row mt-4">
  <div class="col-6 col-md-4 mb-4" *ngFor="let concert of filteredConcerts">
    <div [routerLink]="[concert?.id]" class="image-card">
      <a [routerLink]="[concert?.id]">
        <img [src]="concert?.images[0]?.url" alt="{{ concert?.name }}" class="image">
      </a>
    </div>
    <div class="card-body">
      <p class="description">{{ concert?.classifications[0]?.genre?.name }}</p>
      <h5 class="hvr-underline-from-left">
        <a class="title-link" [routerLink]="[concert?.id]">{{ concert?.name }}</a>
      </h5>
    </div>
  </div>
</div>