/* Banner con fondo */
.banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}

/* Fondo difuminado */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(10px);

  z-index: 1;
}

/* Contenido dentro del banner */
.overlay {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Imagen del concierto */
.concert-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Informaci贸n del concierto */
.concert-info h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.concert-info p {
  font-size: 1.2rem;
  color: #d1d1d1;
  margin-top: 5px;
}


.ticket-selection {
  margin-top: 30px;
}

.ticket-counter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-counter button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ticket-counter span {
  margin: 0 10px;
  font-size: 1.2rem;
}

.checkout-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button button:hover {
  background-color: #0056b3;
}


/* ************************* */


.container-details {
  max-width: 900px;

  margin: 0 auto;

  padding: 20px;

  background-color: #f9f9f9;

  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Informaci贸n del concierto */
.concert-details h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.concert-details p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

/* Selecci贸n de entradas */
.ticket-selection h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.ticket-category {
  font-size: 1rem;
  color: #444;
}

.ticket-counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticket-counter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticket-counter button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ticket-counter span {
  font-size: 1.2rem;
}

/* Total de entradas */
.ticket-selection p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Bot贸n de compra */
.checkout-button button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button button:hover {
  background-color: #218838;
}
