<div class="banner" [style.backgroundImage]="'url(' + concert.images[0]?.url + ')'">
  <div class="overlay">
    <div class="container">
      <div class="concert-image">
        <img [src]="concert.images[0]?.url" alt="{{ concert.name }}">
      </div>
      <div class="concert-info">
        <h1>Entradas para {{ concert.name }}</h1>
        <p>Género: {{ concert.classifications[0]?.genre?.name }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-details my-5">
  <!-- Franja con el texto "Información importante" y un icono de flecha -->
  <div class="info-banner d-flex justify-content-between align-items-center">
    <span>Información importante</span>
    <button class="btn btn-link p-0" (click)="toggleInfo()">
      <i [class]="isInfoVisible ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
    </button>
  </div>

  <!-- Texto desplegable -->
  <div class="info-text" *ngIf="isInfoVisible" [@slideIn]>
    <ul>
      <li>
        Las personas con Movilidad Reducida se ubicarán en una zona determinada del recinto...
      </li>
      <li>
        La celebración del espectáculo está sujeta a la normativa establecida por las autoridades competentes...
      </li>
      <li>
        Los menores de 14 años solo podrán acceder acompañados de un adulto.
      </li>
      <li>
        Se informa a los asistentes que durante el evento se realizarán fotos y videos del espectáculo...
      </li>
    </ul>
  </div>

  <!-- Información adicional del concierto -->
  <div *ngIf="concert" class="concert-details mt-4">
    <h3>Detalles del concierto</h3>
    <p><strong>Fecha:</strong> {{ concert.dates?.start?.localDate }} a las {{ concert.dates?.start?.localTime }}</p>
    <p><strong>País:</strong> {{ concert._embedded?.venues[0]?.country?.name }}</p>
    <p><strong>Lugar:</strong> {{ concert._embedded?.venues[0]?.name }}</p>
  </div>

  <!-- Selección de entradas -->
  <div class="ticket-selection mt-5">
    <h3>Selecciona tus entradas</h3>
    <div class="ticket-category" *ngFor="let ticket of tickets; let i = index">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <span>{{ ticket.category }} - {{ ticket.price | currency }}</span>
        <div class="ticket-counter">
          <button (click)="removeTicket(i)" [disabled]="ticket.count === 0">-</button>
          <span>{{ ticket.count }}</span>
          <button (click)="addTicket(i)" [disabled]="getTotalTickets() >= maxTickets">+</button>
        </div>
      </div>
    </div>
    <p class="entradas">Total de entradas seleccionadas: {{ getTotalTickets() }} / {{ maxTickets }}</p>
  </div>

  <p *ngIf="getTotalTickets() === 0" class="text-danger">
    Debes seleccionar al menos una entrada para continuar.
  </p>
  <!-- Botón de compra -->
  <div class="checkout-button mt-4">
    <button class="btn btn-primary btn-lg w-100" (click)="goToCheckout()" [disabled]="getTotalTickets() === 0">Comprar
      Entradas</button>
  </div>
</div>